![title](images/Header.png)

In [ ]:
#pip install tabula-py

In [1]:
import pandas as pd
import tabula

In [2]:
arquivopdf = 'Fatura_Itau_2024-06'

In [3]:
lista_tabelas = tabula.read_pdf(arquivopdf+".pdf", pages="all")

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'
Got stderr: jun 22, 2024 4:41:14 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
ADVERTÊNCIA: Could not read embedded TTF for font IntP72DlTt_2
java.io.IOException: loca is mandatory
	at org.apache.fontbox.ttf.TTFParser.parseTables(TTFParser.java:209)
	at org.apache.fontbox.ttf.TTFParser.parse(TTFParser.java:150)
	at org.apache.fontbox.ttf.TTFParser.parse(TTFParser.java:106)
	at org.apache.pdfbox.pdmodel.font.PDTrueTypeFont.<init>(PDTrueTypeFont.java:199)
	at org.apache.pdfbox.pdmodel.font.PDFontFactory.createFont(PDFontFactory.java:89)
	at org.apache.pdfbox.pdmodel.PDResources.getFont(PDResources.java:146)
	at org.apache.pdfbox.contentstream.operator.text.SetFontAndSize.process(SetFontAndSize.java:66)
	at org.apache.pdfbox.contentstream.PDFStreamEngine.processOperator(PDFStreamEngine.java:933)
	at org.apache.pdfbox.contentstream.PDFStreamEngine.processStreamOperators(PDFStreamEngine.java:514)
	at org.apache.pdfbox.contentstream.PDFStreamEngine.processStream(PDFStreamEngine.java:492)
	at org.apache.pdfbox.contentstream.PDFStreamEngine.processPage(PDFStreamEngine.java:155)
	at technology.tabula.ObjectExtractor.extractPage(ObjectExtractor.java:24)
	at technology.tabula.PageIterator.next(PageIterator.java:30)
	at technology.tabula.CommandLineApp.extractFile(CommandLineApp.java:161)
	at technology.tabula.CommandLineApp.extractFileTables(CommandLineApp.java:124)
	at technology.tabula.CommandLineApp.extractTables(CommandLineApp.java:106)
	at technology.tabula.CommandLineApp.main(CommandLineApp.java:76)

jun 22, 2024 4:41:14 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
ADVERTÊNCIA: Using fallback font 'TimesNewRomanPSMT' for 'IntP72DlTt_2'
jun 22, 2024 4:41:14 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
ADVERTÊNCIA: No glyph for 43 in font GHTMyriad_Pro-Circled
jun 22, 2024 4:41:14 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
ADVERTÊNCIA: Could not read embedded TTF for font IntP72DlTt_2
java.io.IOException: loca is mandatory
	at org.apache.fontbox.ttf.TTFParser.parseTables(TTFParser.java:209)
	at org.apache.fontbox.ttf.TTFParser.parse(TTFParser.java:150)
	at org.apache.fontbox.ttf.TTFParser.parse(TTFParser.java:106)
	at org.apache.pdfbox.pdmodel.font.PDTrueTypeFont.<init>(PDTrueTypeFont.java:199)
	at org.apache.pdfbox.pdmodel.font.PDFontFactory.createFont(PDFontFactory.java:89)
	at org.apache.pdfbox.pdmodel.PDResources.getFont(PDResources.java:146)
	at org.apache.pdfbox.contentstream.operator.text.SetFontAndSize.process(SetFontAndSize.java:66)
	at org.apache.pdfbox.contentstream.PDFStreamEngine.processOperator(PDFStreamEngine.java:933)
	at org.apache.pdfbox.contentstream.PDFStreamEngine.processStreamOperators(PDFStreamEngine.java:514)
	at org.apache.pdfbox.contentstream.PDFStreamEngine.processStream(PDFStreamEngine.java:492)
	at org.apache.pdfbox.contentstream.PDFStreamEngine.processPage(PDFStreamEngine.java:155)
	at org.apache.pdfbox.rendering.PageDrawer.drawPage(PageDrawer.java:277)
	at org.apache.pdfbox.rendering.PDFRenderer.renderImage(PDFRenderer.java:347)
	at org.apache.pdfbox.rendering.PDFRenderer.renderImage(PDFRenderer.java:268)
	at org.apache.pdfbox.rendering.PDFRenderer.renderImageWithDPI(PDFRenderer.java:254)
	at technology.tabula.Utils.pageConvertToImage(Utils.java:285)
	at technology.tabula.detectors.NurminenDetectionAlgorithm.detect(NurminenDetectionAlgorithm.java:113)
	at technology.tabula.CommandLineApp$TableExtractor.extractTablesBasic(CommandLineApp.java:421)
	at technology.tabula.CommandLineApp$TableExtractor.extractTables(CommandLineApp.java:408)
	at technology.tabula.CommandLineApp.extractFile(CommandLineApp.java:180)
	at technology.tabula.CommandLineApp.extractFileTables(CommandLineApp.java:124)
	at technology.tabula.CommandLineApp.extractTables(CommandLineApp.java:106)
	at technology.tabula.CommandLineApp.main(CommandLineApp.java:76)

jun 22, 2024 4:41:14 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
ADVERTÊNCIA: Using fallback font 'TimesNewRomanPSMT' for 'IntP72DlTt_2'

In [4]:
print(len(lista_tabelas))

3

In [5]:
# Imprimindo todas as tabelas extraidas
for tabela in lista_tabelas:
    display(tabela)

,Banco Itaú S.A. 341-7,34191.75033 51511.582523 50434.570003 1 000,Unnamed: 0,Unnamed: 1
0,Local de Pagamento,NaN,Data de Vencimento,NaN
1,"Pague sua fatura em qualquer banco, mesmo após...",NaN,NaN,NaN
2,para não gerar encargos e/ou rescisão contratu...,NaN,NaN,25/06/2024
3,Nome do Beneficiário/ CNPJ/CPF/Endereço,NaN,Agência / Código Beneficiário,NaN
4,ITAU UNIBANCO HOLDING S.A. - 60.872.504/0001-23,NaN,NaN,NaN
5,"PÇA ALFREDO EGYDIO DE S.ARANHA, 100, TOS 7 A ...",NaN,NaN,2525/04345-7
6,Data do Documento Número do Documento,Espécie DOC. Aceite Data do Processamento,Nosso Número,NaN
7,25/06/2024 00403515115/0279678,FT N 17/06/2024,NaN,175/03515115-8
8,Uso do Banco Carteira Espécie,Quantidade Valor,(=) Valor do Documento,NaN
9,175 R$,NaN,NaN,"R$ 3.966,48"
10,Instruções de responsabilidade do beneficiário.,NaN,(-) Descontos / Abatimentos,NaN
11,"Indique o valor que deseja pagar no campo ""Val...",NaN,NaN,NaN
12,opções: (i) pagar quantia a partir do valor co...,NaN,(+) Juros / Multa,NaN
13,"uma das opções de Parcelas Fixas , pagando o ...",NaN,NaN,NaN
14,inscrição nos órgãos restritivos de crédito.,NaN,(=) Valor Pago,NaN
15,Nome do Pagador/CPF/CNPJ/Endereço/Cidade/UF/CEP,NaN,NaN,NaN
16,RAFAEL FELIPE FERREIRA - 370.285.268-95,NaN,NaN,NaN
17,R COTOXO 325 - APTO 152B - VL PIRES - 09195-43...,NaN,NaN,NaN
18,Sacador Avalista:,NaN,NaN,NaN

,Pontos creditados no mês*:,Unnamed: 0,Unnamed: 1,Unnamed: 2,1.528,31/05 SANTO ANDRE -CT,Unnamed: 3,"77,70"
0,Dólar utilizado na conversão de pontos,NaN,NaN,NaN,"5,46",ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
1,* Os pontos adquiridos com o pagamento dessa,fatura,NaN,NaN,serão,02/06 PARK PLACE -CT,NaN,"16,00"
2,"demonstrados em ""Pontos creditados no mês""",na próxima,NaN,NaN,"fatura,",VEÍCULOS .SANTO ANDRE,NaN,NaN
3,após a compensação do pagamento mínimo.,NaN,NaN,NaN,NaN,02/06 ASSB COMERCIO VAREJIST,NaN,"35,90"
4,Confira seu extrato completo e como usar seus,pontos,acessando,NaN,NaN,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
5,o app Itaú e Itaú Personnalité (Menu produtos,>,pontos,NaN,e,02/06 PRECOLANDIA -CT,NaN,"23,70"
6,cashback) ou Itaú Cartões (Menu benefícios >,tudo,sobre,NaN,seus,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,DIVERSOS .SANTO ANDRE,NaN,NaN
8,pontos > pontos e cashback).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,02/06 PAG*JohnnyRo-CT s,NaN,"144,98"
10,NaN,NaN,NaN,NaN,NaN,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
11,Lançamentos: compras e saques,NaN,NaN,NaN,NaN,03/06 CLICK EMBALA-CT,NaN,"28,98"
12,RAFAEL FELIPE FERRE (final 7899),NaN,NaN,NaN,NaN,DIVERSOS .SANTO ANDRE,NaN,NaN
13,DATA ESTABELECIMENTO,VALOR EM R$,NaN,NaN,NaN,03/06 HTM*Casando O Ve,NaN,"19,90"
14,17/05 PANIF E CONF-CT A,NaN,NaN,NaN,"33,60",EDUCAÇÃO .Blumenau,NaN,NaN
15,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,03/06 CODISPEL COM-CT O E DI,NaN,"21,76"
16,19/05 OBA HORTIFRU-CT,NaN,NaN,NaN,"155,88",DIVERSOS .SANTO ANDRE,NaN,NaN
17,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,05/06 ASSAI ATACADISTA,NaN,"467,72"
18,20/05 NAGUMO SANTO-CT RE,NaN,NaN,NaN,"49,37",ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
19,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,07/06 DL*GOOGLE YouTub,NaN,"24,90"
20,20/05 DUETTO CAFE -CT LATO,NaN,NaN,NaN,"16,50",TURISMO E ENTRETENIM.SAO PAULO,NaN,NaN
21,ALIMENTAÇÃO .SAO PAULO,NaN,NaN,NaN,NaN,08/06 DROGASIL3640-CT,NaN,"66,73"
22,20/05 DUETTO CAFE -CT LATO,NaN,NaN,NaN,"12,00",SAÚDE .SANTO ANDRE,NaN,NaN
23,ALIMENTAÇÃO .SAO PAULO,NaN,NaN,NaN,NaN,08/06 CLICK EMBALA-CT,NaN,"31,35"
24,21/05 NETFLIX.COM,NaN,NaN,NaN,"25,90",DIVERSOS .SANTO ANDRE,NaN,NaN
25,DIVERSOS .SAO PAULO,NaN,NaN,NaN,NaN,08/06 PANIF E CONF-CT A,NaN,"10,99"
26,22/05 NAGUMO SANTO-CT RE,NaN,NaN,NaN,"58,11",ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
27,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,10/06 PAG*JdMercad-CT s,NaN,"11,39"
28,23/05 KALUNGA ABC -CT A,NaN,NaN,NaN,"22,30",ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
29,EDUCAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,11/06 REI DO MATE -CT D PLAZ,NaN,"40,40"
30,23/05 AUTO POSTO N-CT TA,NaN,NaN,NaN,"200,00",ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
31,VEÍCULOS .SANTO ANDRE,NaN,NaN,NaN,NaN,11/06 PAO DE ACUCA-CT 38STO,NaN,"106,89"
32,23/05 C C HUMIATA -CT,NaN,NaN,NaN,"81,99",ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
33,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,12/06 OBA HORTIFRU-CT,NaN,"105,10"
34,24/05 AmazonPrimeBR,NaN,NaN,NaN,"19,90",ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
35,TURISMO E ENTRETENIM.SAO PAULO,NaN,NaN,NaN,NaN,15/06 MP*ALLEGRAESCOLA,NaN,"40,00"
36,24/05 PAG*JdMercad-CT s,NaN,NaN,NaN,"7,05",EDUCAÇÃO .OSASCO,NaN,NaN
37,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,15/06 MP*ALLEGRAESCOLA,NaN,"50,00"
38,27/05 PADARIA PORT-CT,NaN,NaN,NaN,"23,25",EDUCAÇÃO .OSASCO,NaN,NaN
39,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,16/06 PARK PLACE -CT,NaN,"14,00"
40,27/05 NONATA HORTI-CT I MIN,NaN,NaN,NaN,"45,20",VEÍCULOS .SANTO ANDRE,NaN,NaN
41,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,16/06 KIDSTOK ABC -CT,NaN,"179,00"
42,27/05 ASSAI ATACADISTA,NaN,NaN,NaN,"650,67",VESTUÁRIO .SANTO ANDRE,NaN,NaN
43,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,16/06 ABC PLAZA SH-CT NG,NaN,"41,90"
44,30/05 SHOPPING ABC-CT,NaN,NaN,NaN,"29,90",ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN
45,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,Lançamentos no cartão (final 7899),NaN,"3.042,65"
46,30/05 PANIF E CONF-CT A,NaN,NaN,NaN,"51,74",NaN,NaN,NaN
47,ALIMENTAÇÃO .SANTO ANDRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,RAFAEL FELIPE FERRE (final 6903),Unnamed: 0,Unnamed: 1
0,DATA ESTABELECIMENTO,VALOR EM R$,Teto de juros sobre valor da dívida100%
1,25/02 EXTRACOM04/04,"430,30",NaN
2,VESTUÁRIO .RIO DE JANEIR,NaN,"No dia 02 de janeiro de 2024, o teto de juros ..."
3,17/05 Uber*UBER*TRIP,"14,98","entra em vigor. A partir dessa data, a soma do..."
4,VEÍCULOS .Sao Paulo,NaN,de atraso não poderá ultrapassar 100% da dívid...
5,17/05 Uber*UBER*TRIP,"12,94",regra vale para cada nova contratação de crédi...
6,VEÍCULOS .Sao Paulo,NaN,parcelamentos em faturas fechadas a partir do ...
7,17/05 Uber*UBER*TRIP,"12,98",NaN
8,VEÍCULOS .Sao Paulo,NaN,Estamos adaptando as nossas faturas para que e...
9,27/05 MERCADOLIVRE*MANSURSTOR,"59,25",fiquem mais transparentes para você.
10,DIVERSOS .OSASCO,NaN,NaN
11,27/05 Uber*UBER*TRIP,"14,94",NaN
12,VEÍCULOS .Sao Paulo,NaN,NaN
13,27/05 Uber*UBER*TRIP,"14,97",Fique atento aos encargos para o próximo
14,VEÍCULOS .Sao Paulo,NaN,período (25/06 a 24/07)
15,28/05 Uber*UBER*TRIP,"22,92",NaN
16,VEÍCULOS .Sao Paulo,NaN,"Juros Máximos do contrato 14,60 % am 424,90 % aa"
17,28/05 Uber*UBER*TRIP,"15,07",NaN
18,VEÍCULOS .Sao Paulo,NaN,NaN
19,31/05 Uber*UBER*TRIP,"12,91",Pagamento mínimo desta fatura
20,VEÍCULOS .Sao Paulo,NaN,NaN
21,NaN,NaN,"Valor da fatura atual 3.966,48"
22,31/05 Uber*UBER*TRIP,"13,94",NaN
23,NaN,NaN,"Juros máximos do contrato 14,60 % am 424,90% aa"
24,VEÍCULOS .Sao Paulo,NaN,NaN
25,NaN,NaN,"Encargos em caso de pgto. mínimo (R$) 492,24"
26,04/06 KALUNGA.COM,"86,99",NaN
27,NaN,NaN,"CET do financiamento da fatura 15,23 % am 460,..."
28,EDUCAÇÃO .SAO PAULO,NaN,NaN
29,NaN,NaN,% do total
30,04/06 Uber*UBER*TRIP,"24,98",NaN
31,NaN,NaN,Valor em R$ financiado
32,VEÍCULOS .Sao Paulo,NaN,NaN
33,NaN,NaN,"Valor total financiado 3.371,51 100,00 %"
34,04/06 Uber*UBER*TRIP,"16,94",NaN
35,NaN,NaN,"Valor do IOF 21,10"
36,VEÍCULOS .Sao Paulo,NaN,NaN
37,NaN,NaN,"Valor total a pagar 3.884,85"
38,05/06 PAG*Produtosuol,"46,50",NaN
39,DIVERSOS .SAO PAULO,NaN,NaN
40,07/06 AMAZON BR,"84,82",NaN
41,VESTUÁRIO .SAO PAULO,NaN,Parcelas fixas desta fatura
42,12/06 Uber*UBER*TRIP,"13,92","Valor da fatura atual 3.966,48"
43,VEÍCULOS .Sao Paulo,NaN,"Juros do parcelamento 12,40 % am 314,63% aa"
44,12/06 Uber*UBER*TRIP,"16,99","CET do parcelamento 13,61 % am 372,32 % aa"
45,VEÍCULOS .Sao Paulo,NaN,% do total
46,Lançamentos no cartão (final 6903),"916,34",Valor em R$ financiado

In [ ]:
lista_tabelas[0]

In [ ]:
lista_tabelas[1]

# Manipulando as Tabelas

In [ ]:
# tabela1 recebendo os dados da posição 1 
tabela1 = lista_tabelas[0]

In [ ]:
display(tabela1)

In [ ]:
# tabela2 recebendo os dados da posição 2 
tabela2 = lista_tabelas[1]

In [ ]:
display(tabela2)

# Alterando Tabela 1

In [ ]:
# AQUI A VARIÁVEL DA TABELA QUE NOS INTERESSA
tabelinha = tabela1
# Nova linha a ser inserida
new_row = {tabelinha.columns[0]: 'nova_linha', tabelinha.columns[1]: 'nova_linha', tabelinha.columns[2]: 'nova_linha', tabelinha.columns[3]: 'nova_linha'}

# Índice onde a nova linha será inserida
position = 0

# Dividindo o DataFrame em duas partes
upper_half = tabelinha.iloc[:position]
lower_half = tabelinha.iloc[position:]

# Convertendo a nova linha para DataFrame
new_row_df = pd.DataFrame([new_row])

# Concatenando tudo de volta
tabelinha = pd.concat([upper_half, new_row_df, lower_half]).reset_index(drop=True)



print("DataFrame após adicionar uma nova linha em uma posição específica:")
tabelinha

In [ ]:
tabela1 = tabelinha
tabela1

In [ ]:
# Inserindo os dados da coluna no índice 0
tabela1.iloc[0] = tabela1.columns

In [ ]:
tabela1

In [ ]:
# Inserindo o nome correto na coluna
colunastabela = ["Vencimento", "Imagem", "Compra", "Valor"]
tabela1.columns = colunastabela

In [ ]:
# Deletando a Coluna Imagem
tabela1.drop(columns="Imagem", inplace=True)
tabela1

## Alterando Tabela 2

In [ ]:
# AQUI A VARIÁVEL DA TABELA QUE NOS INTERESSA
tabelinha = tabela2
# Nova linha a ser inserida
new_row = {tabelinha.columns[0]: 'nova_linha', tabelinha.columns[1]: 'nova_linha', tabelinha.columns[2]: 'nova_linha', tabelinha.columns[3]: 'nova_linha'}

# Índice onde a nova linha será inserida
position = 0

# Dividindo o DataFrame em duas partes
upper_half = tabelinha.iloc[:position]
lower_half = tabelinha.iloc[position:]

# Convertendo a nova linha para DataFrame
new_row_df = pd.DataFrame([new_row])

# Concatenando tudo de volta
tabelinha = pd.concat([upper_half, new_row_df, lower_half]).reset_index(drop=True)


print("DataFrame após adicionar uma nova linha em uma posição específica:")
tabelinha

In [ ]:
tabela2 = tabelinha
tabela2

In [ ]:
# Inserindo os dados da coluna no índice 0
tabela2.iloc[0] = tabela2.columns

In [ ]:
# Inserindo o nome correto na coluna
colunastabela = ["Vencimento", "Imagem", "Compra", "Valor"]
tabela2.columns = colunastabela

In [ ]:
# Deletando a Coluna Imagem
tabela2.drop(columns="Imagem", inplace=True)
tabela2

# Unindo tabela1 e tabela2, com .concat()

In [ ]:
# Unindo as tabelas
tabela3 = pd.concat([tabela1, tabela2]).reset_index(drop=True)
tabela3

# Extraindo Tabela3 em arquivo para excel (.xlsx)

In [ ]:
# Salvando versão unida em excel
tabela3.to_excel(arquivopdf+"v3"+".xlsx", index=False)

* -FIM-
* |
* |

# Opcional extrair tabelas 1 e 2

In [ ]:
# Salvando versão em excel
# tabela1.to_excel(arquivopdf+"v1"+".xlsx", index=False)

In [ ]:
# Salvando versão em excel
# tabela2.to_excel(arquivopdf+"v2"+".xlsx", index=False)